<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodie's List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        FOODIES' LIST
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<body>
  <!--partial template-->
  {{{body}}}
  <!--loading script file-->
  <script src="/public/javascripts/popper.js"></script>
  <script src="/public/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/b76baf1047.js" crossorigin="anonymous"></script>
</body>

</html>